---
layout: post
title: Getting classic form validation behaviour in AngularJS
date: 
type: post
published: false
status: draft
categories: []
tags: []
meta:
  _edit_last: '6536909'
  geo_public: '0'
author:
  login: richardszalay
  email: richard@richardszalay.com
  display_name: Richard Szalay
  first_name: ''
  last_name: ''
---
<p>When I think of classic validation behaviour, I think:</p>
<ul>
<li>The submit handler won't be invoked if the form is invalid</li>
<li>Validation messages don't appear initially for empty input fields</li>
<li>Validation messages should appear after a form submission, even if the user never modified that field</li>
</ul>
<h2>Out-of-the-box validation</h2>
<p>Here's a basic form:</p>
<p>[sourcecode language="html"]<br />
&lt;form name=&quot;registration&quot; ng-submit=&quot;register()&quot;&gt;<br />
  &lt;label&gt;<br />
    &lt;span&gt;First name:&lt;/span&gt;<br />
    &lt;input type=&quot;text&quot; name=&quot;firstName&quot; ng-model=&quot;user.firstName&quot; required /&gt;<br />
    &lt;span class=&quot;error&quot; ng-show=&quot;registration.firstName.$errors.required&quot;&gt;This field is required&lt;/span&gt;<br />
  &lt;/label&gt;<br />
  &lt;label&gt;<br />
    &lt;span&gt;First name:&lt;/span&gt;<br />
    &lt;input type=&quot;text&quot; name=&quot;firstName&quot; ng-model=&quot;user.firstName&quot; /&gt;<br />
    &lt;span class=&quot;error&quot; ng-show=&quot;registration.firstName.$errors.required&quot;&gt;This field is required&lt;/span&gt;<br />
  &lt;/label&gt;<br />
  &lt;input type=&quot;submit&quot; value=&quot;Submit&quot; /&gt;<br />
&lt;/form&gt; [/sourcecode]</p>
